version: '3' 
services:
  web:
    image: registry.gitlab.com/demyankovvladislav/less3.7:{{ DEPLOY }}
    container_name: web
    volumes:
      - ./:/usr/src/app/
    networks:
      - frontend
      - backend
    expose:
      - 8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    container_name: db
    image: postgres:latest
    environment:
     POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - backend
    expose:
      - 5432
  nginx:
    image: nginx:latest
    networks:
      - frontend
    depends_on:
      - web
      - db
    ports:
      - {{ NPORT }}:{{ NPORT }}
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static/:/static 
networks:
  frontend:
    name: frontend
    driver: bridge
  backend:
    name: backend
    driver: bridge 
volumes:
  postgres_data:
