upstream {{ item }} {
           {% for val in foo %}
             server {{ val }};
           {% endfor %}
       }


server {
           listen 80;
           listen [::]:80;
           server_name {{ ansible_default_ipv4.address }};
           root {{ dest_folder2 }}/{{ item }}/;
           index index.html index.nginx-debian.html;
           try_files $uri /index.html;
        }


